.container-cards {
    padding: 20px;
    text-align: left;
    margin-left: 250px;
    transition: all .5s;
}

.container-cards h2 {
    font-size: 18px;
    margin-left: 20px;
}

.container-cards .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

@media (max-width: 750px) {
    .container-cards {
        margin-left: 0;
        /* margin-top: 40px; */
    }
}