.not-found {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 290px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

@media (max-width: 750px) {
    .not-found {
        margin: 0px;
    }
}