.container-cards {
    padding: 20px;
    text-align: left;
}

.container-cards h2 {
    font-size: 18px;
}

.container-cards .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}