.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 270px;
    font-weight: bolder;
}

.container-event {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.container-event .events a {
    background-color: #6391F4;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
}

.container-event .events h1 {
    font-size: 24px;
    color: #333333;
}

.container-event .events a:hover {
    cursor: pointer;
    background-color: #244791;
}

.container-event .events h1, .container-event .events a {
    margin: 20px;
}

.container-event .events {
    margin-left: 270px;
}

.container-event .events .events-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}